<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/design.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Information Card QR</title>
</head>
<body>
<div class="parent">
    <div class="navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}" style="position:relative;bottom: 10px"><img src="{{ url_for('static', filename='images/riottecboi.png') }}" width="50" height="50"></a>
                    <a class="navbar-brand" href="{{ url_for('index') }}" style="color: #2d3e50;position:relative;right: 15px">RIOTTECBOI</a>
                </div>
                <ul class="nav navbar-nav" style="float: right">
                    <li><a href="{{ url_for('qr', type='normal') }}">Normal QR</a></li>
                    <li><a href="{{ url_for('qr', type='wifi') }}">Wifi QR</a></li>
                    <li><a href="{{ url_for('qr', type='geographic') }}">Geographic QR</a></li>
                    <li><a href="{{ url_for('qr', type='artistic') }}">Artistic QR</a></li>
                    <li class="active"><a href="{{ url_for('qr', type='card') }}">Card QR</a></li>
                </ul>
            </div>
        </nav>
    </div>
        <footer class="footer">
          <p>Copyright © 2022 <b>Riottecboi</b><br>
          <a href="mailto:riottecboi@gmail.com">riottecboi@gmail.com</a></p>
        </footer>

    <div class="content">
        <div class="child">
            <h1 class="center">Private Card QR</h1>

            <form action="{{ url_for('qr', type='card') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% if not vcard_qrcode and not mecard_qrcode %}
                <span class="center"><input class="box_input" type="text" name="name" placeholder="Enter your name" style="width: 300px" required></span>
                <span class="center"><input class="box_input" type="text" name="nickname" placeholder="Enter your nickname" style="width: 300px" required></span>
                <span class="center"><input class="box_input" type="email" name="email" placeholder="Enter your email" style="width: 300px" required></span>
                <span class="center"><input class="box_input" type="number" name="phone" placeholder="Enter your phone" style="width: 300px" required></span>
                <span class="center"><input class="box_input" type="url" name="url" placeholder="Enter your websites" style="width: 300px" ></span>
                <span class="center"><input class="box_input" type="text" name="memo" placeholder="Enter some notes" style="width: 300px" ></span>
                <span class="center"><button type="submit">Submit</button></span>
                {% endif %}
                {% if vcard_qrcode and mecard_qrcode %}
                <div class="center">
                    <a href="{{ vcard_qrcode.png_data_uri(dark='darkblue', data_dark='steelblue', alignment_dark='darkgreen', scale=5) }}" download="vcard-qrcode-png-version.png" title="vcard png version">
                        <img src="{{ vcard_qrcode.png_data_uri(dark='darkblue', data_dark='steelblue', alignment_dark='darkgreen', scale=5) }}">
                    </a>
                    <a href="{{ vcard_qrcode.png_data_uri(dark='darkblue', data_dark='steelblue', alignment_dark='darkgreen', scale=5) }}" download="vcard-qrcode-svg-version.png" title="vcard svg version">
                        <img src="{{ vcard_qrcode.svg_data_uri(dark='darkblue', scale=5) }}">
                    </a>
                </div>
                <div class="center">
                    <a href="{{ mecard_qrcode.png_data_uri(dark='darkblue', data_dark='steelblue', alignment_dark='darkgreen', scale=5) }}" download="mecard-qrcode-png-version.png" title="mecard png version">
                        <img src="{{ vcard_qrcode.png_data_uri(dark='darkblue', data_dark='steelblue', alignment_dark='darkgreen', scale=5) }}">
                    </a>
                    <a href="{{ mecard_qrcode.png_data_uri(dark='darkblue', data_dark='steelblue', alignment_dark='darkgreen', scale=5) }}" download="mecard-qrcode-svg-version.png" title="mecard svg version">
                        <img src="{{ vcard_qrcode.svg_data_uri(dark='darkblue', scale=5) }}">
                    </a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
</body>
</html>